* {
    -fx-background: #2A2E37;
    -fx-primarytext: #B2B2B2;
    -fx-button-primary: #FF5722;
    -fx-button-primary-hover: #FFC107;
}

.root, .scroll-pane, .lines, .line, .ref {
    -fx-background-color: -fx-background;
}

.label {
    -fx-text-fill: -fx-primarytext;
}

.ref {
    -fx-padding: 0 5px 0 5px;
    -fx-background-radius: 5px;
    -fx-text-fill: -fx-button-primary;
}

.ref:hover {
    -fx-text-fill: -fx-button-primary-hover;
}
